<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form th:action="@{/register}" method="post" th:object="${user}">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="" th:field="*{fullname}">
                    <input type="date" name="dob" placeholder="Date of birth" required="" th:field="*{dob}">
					<input type="email" name="email" placeholder="Email" required="" th:field="*{email}">
					<input type="password" name="pswd" placeholder="Password" required="" th:field="*{password}">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form th:action="@{/login}" method="post" th:object="${user}">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="" th:field="*{email}">
					<input type="password" name="pswd" placeholder="Password" required="" th:field="*{password}">
					<button type="submit" value="Log in">Login</button>
				</form>
			</div>
	</div>
</body>
</html>