<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <h2>Welcome to login Page.</h2>
    <form th:action="@{/login}" method="post" th:object="${user}">
        Entrer l'email: <input type="email" th:field="*{email}"><br><br>
        Enter the password: <input type="password" th:field="*{password}"><br><br>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>